{{ define "content" }}
    <h2 style="color: red;">暂不支持邮件验证</h2>
    <h4>Input your Email address:</h4>
    <form action="/reset_password_request" method="post" name="reset_password_request">
        <p><input class="form-control" type="text" name="email" value="" placeholder="Email"></p>
        <p><input class="btn btn-outline-primary" type="submit" name="submit" value="Submit" disabled></p>
    </form>

    {{ if .Errs }}
        <ul>
            {{ range .Errs }}
                <li>{{.}}</li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}