{{ define "content" }}
    <table>
        <tr valign="top">
            <td><img src="{{.ProfileUser.Avatar}}&s=128"></td>
            <td>
                <h4>User: {{.ProfileUser.Username}}</h4>
                {{ if .ProfileUser.AboutMe }}
                    <p>{{.ProfileUser.AboutMe}}</p>
                {{ end }}

                {{ if .ProfileUser.LastSeen }}
                    <p>Last seen on: {{.ProfileUser.FormattedLastSeen}}</p>
                {{ end }}

                <p>{{.FollowersCount}} followers, {{.FollowingCount}} following.</p>

                {{ if .Editable }}
                    <p><a href="/profile_edit">Edit your profile</a></p>
                {{ else }}
                    {{ if .IsFollow }}
                        <p><a class="btn btn-outline-primary" href="/unfollow/{{.ProfileUser.Username}}">Unfollow</a></p>
                    {{ else }}
                        <p><a class="btn btn-outline-primary" href="/follow/{{.ProfileUser.Username}}">Follow</a></p>
                    {{ end }}
                {{ end }}
            </td>
        </tr>
    </table>
    <hr />
    <table class="table table-hover">
        {{ range .Posts }}
            <tr valign="top">
                <td width="36px"><img src="{{.User.Avatar}}&s=36"></td>
                <td>{{.FormattedTimeAgo}} <a href="/user/{{.User.Username}}">{{.User.Username}}</a> said:<br />{{.Body}}</td>
            </tr>
        {{ end }}
    </table>

    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {{ if gt .PrevPage 0 }}
                <li class="page-item">
                    <a href="/explore?page={{.PrevPage}}">
                        <span class="page-link" aria-hidden="true">&larr; Newer Posts</span>
                    </a>
                </li>
            {{ else }}
                <li class="page-item disabled">
                    <a href="#">
                        <span class="page-link" aria-hidden="true">&larr; Newer Posts</span>
                    </a>
                </li> 
            {{ end }}
                
            {{ if gt .NextPage 0 }}
                <li class="page-item">
                    <a href="/explore?page={{.NextPage}}">
                        <span class="page-link" aria-hidden="true">Older Posts &rarr;</span>
                    </a>
                </li>
            {{ else }}
                <li class="page-item disabled">
                    <a href="#">
                        <span class="page-link" aria-hidden="true">Older Posts &rarr;</span>
                    </a>
                </li> 
            {{ end }}
        </ul>
    </nav>
{{ end }}